<script type="text/html" id="email-verify">
    <div class="panel panel-danger">
        <div class="panel-heading">Unable to validate e-mail</div>
        <div class="panel-body">
            <p>Sorry, we were unable to validate the e-mail address from the specified code.  Please login to request a new e-mail verification.</p>
            <a class="btn btn-default" href="/login">Login</a>
        </div>
    </div>
</script>

<script type="text/html" id="verification-complete">
    <div class="panel panel-success">
        <div class="panel-heading">Verification Complete</div>
        <div class="panel-body">
            <p>Your e-mail address has been succeessfully verified!</p>
            <a class="btn btn-default" href="/login">Login</a>
        </div>
    </div>
</script>