<script type="text/html" id="users">
    
    <div><span>Is Logged In: </span><span data-bind="text: $root.session.isLoggedIn"></span>
    </div>
    <div><span>Token: </span><span data-bind="text: $root.session.token"></span>
    </div>
</script>
